.container
  %h1 Bem Vindo
  %p#notice= notice
  %p
    %strong Nome:
    = @adopter.name
  %p
    %strong Email:
    = @adopter.email
  %p
    %strong Telefone:
    = @adopter.phone
  %p
    %strong Identidade:
    = @adopter.identify
  %p
    %strong CPF:
    = @adopter.cpf
  %p
    %strong Logradouro:
    = @adopter.street
  %p
    %strong Número:
    = @adopter.number
  %p
    %strong Bairro:
    = @adopter.sector
  %p
    %strong Cidade:
    = @adopter.city
  %p
    %strong CEP:
    = @adopter.zip
  %p
    %strong Ponto de referência:
    = @adopter.referency_point
  %p
    %strong Residência:
    = @adopter.residence
  %p
    %strong Terreno cercado:
    #{@adopter.fenced_plot.present? ? "Sim" : "Não"}

  = link_to 'Editar meus dados', edit_adopter_registration_path(@adopter)