= form_with(model: donor, local: true, validate: true) do |form|
  .form-control
    = form.label "nome*", class:'mt-4'
    = form.text_field :name, class:'form-control', validate: true
  
    = form.label "telefone*", class:'mt-2'
    = form.text_field :phone, class:'form-control', validate: true
  
    = form.label "email*", class:'mt-2'
    = form.text_field :email, class:'form-control', validate: true

    = form.label "tipo de doação*", class:'mt-2'
    = form.select(:donation, @donations_options_for_select = Donor.donations.keys.map {|donate| [donate.titleize,donate]}, {prompt: "Escolha uma opção"}, {class: "chosen_select form-control"})
    
    .description
      = form.label "descrição", class:'mt-2'
      = form.text_area :message, class:'description form-control', placeholder:'Especifique sua doação'
    
    .actions
      = form.submit "Confirmar", id: "confirmar", class:'col-lg-12 mt-2 mb-4 btn btn-lg btn-login'