.row
  .col-sm-12
    %h1.my-4.text-center Procure e encontre o seu novo amigo
  - @animais_search.each do |animal|
    .col-lg-3.col-md-4.col-sm-6.portfolio-item
      .card
        .animal-img
          = link_to search_show_path(animal) do
            -# = image_tag animal.image.variant(resize: "200x200>"), class: "img-fluid"
            %img.img-fluid{class: "img-fluid", :alt => "", :src => "http://placehold.it/200x200"}
        .animal-description.pl-2.pt-2
          = link_to search_show_path(animal) do
            %h4
              = animal.name
            %p
              = animal.gender
            %p
              = animal.condition

.pagination.justify-content-center
  = will_paginate @animals_found, renderer: WillPaginate::ActionView::BootstrapLinkRenderer