.container
	.row.mb-4
		.col-md-8
			%img.img-fluid{:alt => "", :src => "http://placehold.it/750x500"}
		.col-md-4.card
			%h3.my-3
				= @animal.name
			%p
				= @animal.description
			%h3.my-3 Detalhes do animal
			%ul
				%li
					= @animal.genre.titleize
				%li
					= @animal.species.titleize
				%li
					= @animal.condition.titleize
				%li
					= @animal.color.titleize
				%li
					= @animal.vaccination.present? ? "Sim" : "Não"
				%li
					= @animal.castration.present? ? "Sim" : "Não"

			%button.btn.btn-login.btn-lg.mb-2{:type => "button"} Solicitar adoção
