.container
	.row.mb-4
		.col-md-8
			-# = image_tag @animal.image.variant(resize: "750x500>"), class: "img-fluid"
			%img.img-fluid{class: "img-fluid", :alt => "", :src => "http://placehold.it/750x500"}
		.col-md-4.card
			%h3.my-3= @animal.name
			%p= @animal.description

			%h3.my-3 Detalhes do animal

			%p 
				%strong Sexo:
				#{@animal.gender.titleize}

			%p 
				%strong Espécie:
				#{@animal.specie.titleize}

			%p 
				%strong Faixa Etária:
				#{@animal.age_group.titleize}

			-# %p 
			-# 	%strong Cor:
			-# 	#{@animal.color.titleize}

			%p 
				%strong Vacinação:
				#{@animal.vaccination.present? ? "Sim" : "Não"}

			%p 
				%strong Castração:
				#{@animal.castration.present? ? "Sim" : "Não"}

			- unless @status.pendente?
				= link_to new_adoption_path(animal_id: @animal.id) do
					%button.col-lg-12.btn.btn-primary.btn-lg.mb-2
						Solicitar adoção
			- else
				= button_tag 'Está em processo de adoção', class: 'btn btn-warning btn-lg mb-2', data: { disable_with: ""} 

