<%= form_with(model: tutor, local: true) do |form| %>
  <% if tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="checkbox">
    <%= form.check_box :preferences, {multiple: true}, "dog", nil %>
    Cão
  </div>

  <div class="checkbox">
    <%= form.check_box :preferences, {multiple: true}, "cat", nil %>
    Gato
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
