= form_with(model: requester, local: true, validate: true) do |form|
  - if requester.errors.any?
    #error_explanation
      %h2
        = pluralize(requester.errors.count, "error")
        prohibited this requester from being saved:
      %ul
        - requester.errors.full_messages.each do |message|
          %li= message
  .form-row.field
    = form.label :nome, class:'mt-2'
    = form.text_field :name, class:'form-control', validate: true
  .form-row 
    .field.col-md-9
      = form.label :email, class:'mt-2'
      = form.text_field :email, class:'form-control', validate: true
    .field.col-md-3
      = form.label :telefone, class:'mt-2'
      = form.text_field :phone, class:'form-control', validate: true

  .form-row
    .field.col-md-6
      = form.label :identidade, class:'mt-2'
      = form.text_field :identify, class:'form-control', validate: true
    .field.col-md-6
      = form.label :cpf, class:'mt-2'
      = form.text_field :cpf, class:'form-control', validate: true

  .form-row
    .field.col-md-6
      = form.label :endereço, class:'mt-2'
      = form.text_field :street, class:'form-control', validate: true
    .field.col-md-2
      = form.label :número, class:'mt-2'
      = form.text_field :number, class:'form-control', validate: true
    .field.col-md-4
      = form.label :bairro, class:'mt-2'
      = form.select(:sector, @sectors_options_for_select = Requester.sectors.keys.map {|sector| [sector.titleize,sector]}, {prompt: "Selecione o seu bairro"}, {class: "chosen_select form-control"})

  .form-row
    .field.col-md-4
      = form.label :cidade, class:'mt-2'
      = form.text_field :city, class:'form-control', validate: true
    .field.col-md-2
      = form.label :cep, class:'mt-2'
      = form.text_field :zip, class:'form-control', validate: true
    .field.col-md-6
      = form.label :ponto_de_referência, class:'mt-2'
      = form.text_field :referency_point, class:'form-control', validate: true

  .form-row
    .field.col-md-6
      = form.label :tipo_de_residência, class:'mt-2'
      %br
      = form.radio_button :residence, 'apartamento'
      = form.label :apartamento
      %br
      = form.radio_button :residence, 'casa'
      = form.label :casa
      %br
      = form.radio_button :residence, 'empresa'
      = form.label :empresa

    .field.col-md-6
      = form.label :terreno_cercado?, class:'mt-2'
      %br
      = form.radio_button :fenced_plot, 'sim'
      = form.label :sim
      %br
      = form.radio_button :fenced_plot, 'não'
      = form.label :não
  .form-row
    = render 'clausula'

  .form-row
    .col-md-12.text-center
      = form.submit "Solicitar adoção", id: "solicitar-adocao", class:'col-lg-4 mt-2 mb-4 btn btn-lg btn-login'
