<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @address.sector %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @address.agent %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
